<div class="dashboard">
  <div class="dashboard-side-nav">

  </div>
  <div class="dashboard-inner">

    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand">Backyard Barber</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a ng-click="subpage='components/status/status.template.html'">Status</a></li>
        <li><a ng-click="subpage='components/scheduler/schedule.template.html'">Scheduler</a></li>
        <li><a ng-click="subpage='components/yardmap/yardmap.template.html'">Yard Map</a></li>
        <li ng-controller="logoutController">
          <a ng-click='logout()' class="btn btn-default navbar-btn pull-right">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="dashboard-body">
      <h2>Welcome, {{ username }}!</h2>
      <ng-include src="subpage"></ng-include>
    </div>
  </div>
</div>
