<div class="col-md-4">
  <h1>Login to Backyard Barber</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Serial Number</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Passcode</label>
      <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
    </div>
    <div>
      <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
    </div>
  </form>
  <br>
  <div>New mower?</div>
  <a ng-controller="loginController" ng-click='register()' class="btn btn-default">Register</a>
</div>
