<div class="modal-header">
  <h4 class="modal-title">Add New Schedule</h4>
</div>
<div class="modal-body addScheduledMowing">
  <form role="form" name="addScheduleForm">
<!--    <div class="row space-below">
      <div class="col-sm-offset-3" ng-messages="addSensorForm.$error">
        <div class="errors" ng-message="server">{{error}}</div>
      </div>
    </div> -->
    <div class="row">

      <div class="form-group col-xs-12">
        <label for="cust-name">Days</label>
        <!-- add the day selection -->
        <span class="input-group-addon">
          <input type="checkbox" aria-label="Sunday"><label>Sunday</label><br>
          <input type="checkbox" aria-label="Monday"><label>Monday</label><br>
          <input type="checkbox" aria-label="Tuesday"><label>Tuesday</label><br>
          <input type="checkbox" aria-label="Wednesday"><label>Wednesday</label><br>
          <input type="checkbox" aria-label="Thursday"><label>Thursday</label><br>
          <input type="checkbox" aria-label="Friday"><label>Friday</label><br>
          <input type="checkbox" aria-label="Saturday"><label>Saturday</label><br>
        </span>
      </div>

      <div class="form-group col-xs-12">
        <label for="cust-name">Time</label>
        <!-- add the time selection -->
        <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker3'>
                          <input type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker3').datetimepicker({
                          format: 'LT'
                      });
                  });
              </script>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Add</button>
</div>
