<div ng-controller="addScheduleModalController">

  <div class="modal-header">
    <h4 class="modal-title">Add New Schedule</h4>
  </div>
  <div class="modal-body addScheduledMowing">
    <form role="form" name="addScheduleForm" ng-controller="addScheduleModalController" ng-submit="ok()">
      <label><h5>Days</h5></label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Sunday">Sunday
      </label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Monday">Monday
      </label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Tuesday">Tuesday
      </label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Wednesday">Wednesday
      </label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Thursday">Thursday
      </label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Friday">Friday
      </label><br>
      <label class="col-md-2 col-md-offset-2">
        <input type="checkbox" ng-model="days.Saturday">Saturday
      </label><br>

      <label><h5>Time</h5></label>
      <div class="form-inline">
        <select ng-model="hour" class="form-control">
          <option>1</option><option>2</option><option>3</option>
          <option>4</option><option>5</option><option>6</option>
          <option>7</option><option>8</option><option>9</option>
          <option>10</option><option>11</option><option>12</option>
        </select> :
        <select ng-model="minute" class="form-control">
          <option>00</option><option>15</option><option>30</option>
          <option>45</option>
        </select>
        <select ng-model="ampm" class="form-control">
          <option>am</option><option>pm</option>
        </select>
      </div>
      <div class="modal-footer">
        <div class="alert alert-info" ng-model="confirmdialogue" style="width:15%; top:-10px; text-align:center; margin:auto; visibility:hidden;">Schedule saved!</div>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Add</button>
      </div>
    </form>
  </div>



</div>
