<div class="statusTemplate" ng-controller="statusController">
  <h3>Status</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Information</h4>
    </div>
    <div class="panel-body">
      <h5><b>Nickname</b></h5>
      <div>{{nickname}}</div>
      <h5><b>Serial Number</b></h5>
      <div>{{serialnumber}}</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Mower Status</h4>
      <button type="button" class="btn btn-default" ng-click="previousStatus()" aria-label="Previous Status">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="nextStatus()" aria-label="Next Status">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </button>
    </div>
    <div class="panel-body">
      <table>
        <tr>
          <td>
            <img src="images/{{status}}.png"/>
          </td>
          <td>
            <b>{{status}}</b>
            <div>{{statusDetail}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Battery Level</h4>
    </div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{batterylevel}};">
          {{batterylevel}}
      </div>
    </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Location</h4>
    </div>
    <div class="panel-body">
      <h5><b>Longitude</b></h5>
      <div>{{longitude}}</div>
      <h5><b>Latitude</b></h5>
      <div>{{latitude}}</div>
      <h5><b>Elevation</b></h5>
      <div>{{elevation}}</div>
  <!--    <div id="map"></div>
      <script type="text/javascript">
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 43.0441100, lng: -87.9090520},
            zoom: 17
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiPCo1TtkWhOs5gCKuFfpbAwcnM1-zYnE&callback=initMap">
      </script> -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Weather</h4>
    </div>
    <div class="panel-body">
      <div ng-if="shouldShowDailyWeatherWarning()" class="alert alert-warning alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Whoa!</strong> It looks like there's a {{forecast.forecast.currently.precipProbability}}% chance of {{forecast.forecast.currently.precipType}} today. You might not want to mow!
      </div>
      <h5><b>Right Now</b></h5>
      <table>
        <tr>
          <td>
            <img src="images/weather/{{forecast.forecast.currently.icon}}.png"/>
          </td>
          <td>
            <b>{{ forecast.forecast.currently.summary}}</b><br>
            Temperature: {{ forecast.forecast.currently.temperature }} &deg; F<br>
            Dew Point: {{ forecast.forecast.currently.dewPoint }}	&deg; F<br>
            Wind Speed: {{ forecast.forecast.currently.windSpeed }} mph<br>
            Chance of Precipitation: {{ forecast.forecast.currently.precipProbability}}%<br><br>
          </td>
        </tr>
      </table>
      <h5><b>7 Day Outlook</b></h5>
      <table>
        <tr>
          <td ng-repeat="day in forecast.forecast.daily.data">
            <img src="images/weather/{{day.icon}}.png"/><br>
            {{day.summary}}
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
