<div class="scheduleTemplate" ng-controller="scheduleController">
  <h3>Scheduler</h3>

  <button class="btn btn-default navbar-btn" ng-click="blah='components/scheduleList/scheduleList.template.html'">View All Schedules</button>
  <button class="btn btn-default navbar-btn pull-right" ng-click="blah='components/addScheduledMowing/addScheduledMowing.template.html'">Add a Scheduled Mowing</button>
  <br><br>
  <ng-include src="blah"></ng-include>
<!--
  <ng-include src="blah"></ng-include>

  <a ng-controller="scheduleController" ng-model="toggleButton" ng-click="toggleSubpage($event)" class="btn btn-default navbar-btn pull-right" value="list">Add a Scheduled Mowing</a>
-->
</div>
