<div class="yardmapTemplate" ng-controller="yardmapController">
  <h3>Yard Map</h3>
  <br>
  <button type="button" class="btn btn-default" ng-click="previousStatus()" aria-label="Previous Status">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" ng-click="nextStatus()" aria-label="Next Status">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  </button>
  <br>
  <ng-include src="subpage"></ng-include>
</div>
