<div class="createObstacleTemplate" ng-controller="createObstacleController">
  <div class="panel panel-default" style="width:50%">
    <div class="panel-heading">
      <h4>Create an Obstacle</h4>
    </div>
    <div class="panel-body">
      <form class="form" ng-submit="createObstacle()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="nickname" ng-model="obstacleForm.name" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="zipcode" ng-model="obstacleForm.description" required>
        </div>
        <div class="form-group">
          <label>Length</label>
          <input type="number" class="form-control" name="nickname" ng-model="obstacleForm.length" required>
        </div>
        <div class="form-group">
          <label>Width</label>
          <input type="number" class="form-control" name="zipcode" ng-model="obstacleForm.width" required>
        </div>
        <div>
          <button type="ok" class="btn btn-default" ng-disabled="disabled">Create</button>
          <button type="cancel" class="btn btn-default" ng-disabled="disabled">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
